@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url(faune-regular.woff2), 
} 

@font-face {
    font-family: "Faune";
    font-weight: 400;
    font-style: italic;
    src: url(/assets/faune-italic.woff2), url(/assets/faune-italic.woff);
}

@font-face {
    font-family: "Faune";
    font-weight: 700;
    src: url(/assets/faune-bold.woff2), url(/assets/faune-bold.woff);
}

body {
    font-family: "Faune", Arial;
    font-size: 16px;
    line-height: 1.5;

    background-color: #ffffff;
    color: #333333;
    margin: 40px auto;
    width: 620px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}